@inject IJSRuntime _jsRuntime

<div id="@carouselName" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="2000" data-bs-pause="false">
    <div class="carousel-indicators">
        @for (int i = 0; i < Alt.Count; i++)
        {
            if (i == 0)
            {
                <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="@Alt.ElementAt(i)"></button>
            }

            else
            {
                <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="@i" aria-label="@Alt.ElementAt(i)"></button>

            }

        }
    </div>
    <div class="carousel-inner">

        @for (int i = 0; i < Images.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <img src="@Images.ElementAt(i)" class="d-block w-100" alt="@Alt.ElementAt(i)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Labels.ElementAt(i)</h5>
                        <p>@Description.ElementAt(i)</p>
                    </div>
                </div>
            }

            else
            {
                <div class="carousel-item">
                    <img src="@Images.ElementAt(i)" class="d-block w-100" alt="@Alt.ElementAt(i)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Labels.ElementAt(i)</h5>
                        <p>@Description.ElementAt(i)</p>
                    </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#@carouselName" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#@carouselName" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    @code{
    [Parameter]
    public List<string> Images { get; set; }

    [Parameter]
    public List<string> Labels { get; set; }

    [Parameter]
    public List<string> Description { get; set; }

    [Parameter]
    public List<string> Alt { get; set; }

    const string carouselName = "CarouselDiv";
    const string carouselFunctionName = "startCarousel";
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            object[] parameter = { carouselName };

            await _jsRuntime.InvokeVoidAsync(carouselFunctionName, parameter);
        }
    }
    }